$orange: #fab000;
$largeGrey: #8b8b8b;



* {
    margin: 0;
    padding: 0; }

body {
    background: #ffffff; }

//общий блок
.wrapper {
    position: absolute;
    top: 0;
    bottom: 7%;
    left: 0;
    right: 0;
    -webkit-box-shadow: -1px 27px 34px -16px #b6bac0;
    -moz-box-shadow: -1px 27px 34px -16px #b6bac0;
    box-shadow: -1px 27px 34px -16px #b6bac0;
    perspective: 800px; }


//слои меню
.paper {
    text-align: center;
    background: #ffffff;
    padding: 10px 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    -webkit-box-shadow: 28px 3px 57px -5px #b0b4bb;
    -moz-box-shadow: 28px 3px 57px -5px #b0b4bb;
    box-shadow: 28px 3px 57px -5px #b0b4bb;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e7e9+0,e6e7e9+42,e4e5e7+52,e4e5e7+100 */
    background: #e6e7e9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #e7e8e9 0%, #e7e8e9 42%, #e4e5e7 52%, #e4e5e7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7e8e9 0%, #e7e8e9 42%, #e4e5e7 52%, #e4e5e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7e8e9 0%, #e7e8e9 42%, #e4e5e7 52%, #e4e5e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e7e9', endColorstr='#e4e5e7', GradientType=1);
    /* IE6-9 */
    &.eco {
        right: 15%;
    }
    &.delivery {
        right: 30%;
    }
    &.quality {
        right: 45%;
    }
    &.products {
        right: 60%;
    }
    &.company {
        right: 75%;
    }

    &.fixed {
        color: #8b8b8b;
        left: 0;
        width: 10%;
        background: white;}

}
//текст в меню
p.menuItem {
    position: relative;
    top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #605F5F;
}

.footer {
    position: inherit;
    bottom: 3%;
    right: 0;
    left: 0;
    font-size: 11px;
    text-align: center;
    & a {
        color: $largeGrey;
    }
}


.language {
    color: $largeGrey;
    font-size: 11px;
    text-align: center; }
.language a {
    color: $largeGrey;
    text-decoration: none; }
.language a:hover {
    text-decoration: underline; }



.apple {
    display: inline;
    margin-top: 52px; }



.ellipse {
    background: #ffffff;
    border: none;
    width: 94px;
    height: 94px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 35%;
    line-height: 120px;
    margin-bottom: 40px; }



.paper:hover .ellipse {
    transition: 2s infinite ease-out;
    border: 4px solid #e4e5e7;
    -webkit-box-shadow: 0px 0px 0px 4px #ffffff;
    -moz-box-shadow: 0px 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 0px 4px #ffffff; }

.paper:hover img.icon {
    transition: 2s infinite ease-out;
    -webkit-filter: grayscale(1) brightness(0.6) contrast(5) opacity(0.5); }



//меню в активном режиме(на клик)
.paperActive {
    //padding: 10px 5px;
    display: none;
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    z-index: 100;
    background: url("https://pp.vk.me/c631318/v631318184/24d92/9mJMHPGmawI.jpg") no-repeat transparent;
    background-size: 100%;
    &.orange {
        height: 10px;
        background: $orange ;
    }
    .ellipse {
        background: none;
        border: 2px solid $orange;
        margin-top: 60px;
    }
    p.menuItem{
        color: #ffffff;
        top: 30px;
    }
    &.eco {
        right: 15%;
    }
    &.delivery {
        right: 30%;
    }
    &.quality {
        right: 45%;
    }
    &.products {
        right: 60%;
    }
    &.company {
        right: 75%;
    }

}


//анимация иконки активного меню
#round {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid #333333;
    -moz-border-radius: 100px;
    -webkit-border-radius: 50%;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 50%; }

.round-orbita {
    position: absolute;
    width: 5px;
    height: 100px;
    left: 50%;
    top: 60px;
    -moz-animation-name: mov;
    -moz-animation-duration: 4.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: mov;
    -webkit-animation-duration: 4.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: mov;
    -ms-animation-duration: 4.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: mov;
    -o-animation-duration: 4.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: mov;
    animation-duration: 4.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

.round-boll {
    position: absolute;
    left: 0px;
    top: -4px;
    width: 10px;
    height: 10px;
    background: $orange;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px; }

@-moz-keyframes mov {
    0% {
        -moz-transform: rotate(0deg); }
    100% {
        -moz-transform: rotate(360deg); } }

@-webkit-keyframes mov {
    0% {
        -webkit-transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg); } }

@-ms-keyframes mov {
    0% {
        -ms-transform: rotate(0deg); }
    100% {
        -ms-transform: rotate(360deg); } }

@-o-keyframes mov {
    0% {
        -o-transform: rotate(0deg); }
    100% {
        -o-transform: rotate(360deg); } }

@keyframes mov {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }